@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.container {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
#question{
    margin-left: 30px;
}
.answer{
    margin: 10px;
    border: 2px solid #21bf73;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #555;
    color: #ddd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    margin-left: 50px;
}
.answer:hover{
    background-color: rgb(66, 66, 66);
    
}
#reset{
    background-color: #555;
    color: #ddd;
    width: 150px;
    height: 40px;
    border: 2px solid #21bf73;
    border-radius: 5px;
}
#reset:hover{
    background-color: rgb(66, 66, 66);
}

#btn{
    width: 100%;
    background-color:  #21bf73;
    color: #ddd;
    font-size: 20px;
    transition: 0.5s;
    padding: 10px;
    border: none;
    border-radius: 20px;
    
    
}
#btn:hover{
    background-color: #1ca764;
    border: none;
   
}
#question {
    width: 75%
}

#Good-job{
    border: 2px solid black ;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    width: 400px;
    height: 320px;
    background-color: #555;
    color: #ddd;
    border: 2px solid black;
    display: none;
}




@media(max-width:576px) {
    .question {
        width: 100%;
        word-spacing: 2px
    }
}