@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #333
}

.container {
    background-color: #555;
    color: #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  
}
#btn{
    width: 100%;
    background-color:  #555;
    color: #ddd;
    font-size: 20px;
    transition: 0.5s;
    padding: 10px;
    border: none;
    border-radius: 20px;
    
}
#btn:hover{
    background-color: #21bf73;
    border: none;
   
}
#question {
    width: 75%
}
.ul1{
    position: relative;
    padding-left: 40px
}



@media(max-width:576px) {
    .question {
        width: 100%;
        word-spacing: 2px
    }
}